*.txt
.port
obj/**
bin/**
.conda**
*.pickle
*.json
__pycache__/**
*.pyc
*.log
**.csv
!faults.csv
results**
.vscode/
.vs/

plot/**pdf
plot/**png

logs/**
results/**

# ignore here as they are linux symlinks
**/docker/utils.py
**/docker/libmicroview.py

**.original